
*:focus{
    outline: none;
}
*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.user_food_list > li{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var();
    border: 2px solid var(--color3-2);
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;

    font-size: 2rem;
}

.user_food_list > li > a{
    color: #000000;
    text-decoration: none;
    padding: 1rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #000;
}

.food_data_light{
    font-weight: 400;
    padding-right: 1rem;
}

.food_data_light:last-of-type{
    padding-right: 0;
}

.food_info_span{
    border-left: 3px solid var(--color3-2);
    border-right: 3px solid var(--color3-2);

    margin-left: 1rem;
    border-radius: 1rem;
    background-color: var(--color3-3);
    padding: .6rem;

    font-weight: 500;
}

/* aside{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    border-left: 5px solid var(--color3-2);
    padding-left: 1.3rem;
    padding-top: 2rem;
    max-width: 40vw;

    overflow-y: scroll;
} */















::-webkit-scrollbar {
    width: .7rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #777;
}